.login-form {
  max-width: 350px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

/* 移除登录输入框的内部黑线 */
:host ::ng-deep .login-form .ant-input {
  background-color: #ffffff !important;
  box-shadow: none !important;
}
