<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <button nz-button nzType="default" class="progress_state_0 w-full" (click)="doClick($event)">Click Me</button>
      <!-- <button nz-button class="w-full" (click)="doRemove($event)">remove listener1</button> -->
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    </div>
  </div>
</main>
